.account_container{
    text-align: center;
}

.account_username{
    padding-bottom: 20px;
}

.account_address{
    padding-bottom: 20px;
}

.account_button_save{
    position: absolute;
    top:50%;
    right: 0;
    width: 120px;
    transform: translateY(-50%);
}